h1 {
  margin-top: 2%;
  text-align: center;
  font-size: 50pt;
}

.game-title {
  margin-top: 10%;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

button {
  border: solid black;
  color: white;
  background-color:black;
  border-radius: 14px;
  font-size: 24px;
  padding: 7px;
  margin: 5px;
  width: 100%;
}

button:hover {
  background: transparent;
  border: solid white;
  transition: 0.5s;
}

ol {
  text-align: left;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

#main > button, #begin, #caption, #submit-caption, #toggle-chat {
  width: auto;
}

#join-game, #new-game {
  width: 100%;
}

.close-chat {
  background-color: red;
  border: solid red;
}

.close-chat:hover {
  background: transparent;
  border: solid red;
  color: red;
  transition: 0.5s;
}

.open-chat {
  background-color: green;
  border: solid green;
}

.open-chat:hover {
  background: transparent;
  border: solid green;
  color: green;
  transition: 0.5s;
}

.form-div {
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  width: 30%;
  text-align: left;
  display: flex;
}

label {
  font-size: 18pt;
}

input {
  /*border: 0;
  border-radius: 2px;

  width: 20%;
  height: 5%;
  */
  box-shadow: 2px 2px 8px black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.hidden {
  display: none;
}


#main > button {
  margin: 3%;
  padding: 15px;
}

.you {
  background: lightgray;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black;
  border-radius: 10px;
  width: fit-content;
  margin: 2px;
}

.other {
  background: blue;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: solid black;
  border-radius: 10px;
  width: fit-content;
  margin: 2px;
}

.thechat {
  border: solid black;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 0px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#send-container {
  margin-top: auto;
}

#chat {
  width: 230px;
}

#messages {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 200px;
  text-align: left;
}

#messages > p {
  max-width: 100%;
}

.game-caption {
  font-size: 32pt;
}

#countdown {
  font-size: 50pt;
}

#image-caption {
  font-size: 28pt;
}